{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <main>

        <!-- hero start -->
        <section class="hero hero__style-one bg_img" data-background="{% static "assets/img/bg/hero_bg.jpg" %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-7">
                        <div class="hero__content">
                            <h1 class="wow skewIn">Immigration visa <br> <span>Consulting</span></h1>
                            <p class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration=".6s">Expert Guidance for a
                                Seamless Immigration Journey</p>
                            <ul class="xb-list list-unstyled mt-40 mb-60 wow fadeInUp" data-wow-delay="400ms"
                                data-wow-duration=".6s">
                                <li><i class="far fa-check"></i>Expert Legal Support</li>
                                <li><i class="far fa-check"></i>Meeting Your Unique Needs</li>
                                <li><i class="far fa-check"></i>Tailored Immigration Solutions</li>
                            </ul>
                            <div class="btns wow fadeInUp" data-wow-delay="600ms" data-wow-duration=".6s">
                                <a class="thm-btn" href="{% url "contact-us" %}">Book Appointment</a>
                                <a class="thm-btn thm-btn--white" href="{% url "about" %}">Read Story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- hero end -->

       <!-- country start -->
       <section class="country pt-120 pb-130">
        <div class="container">
            <div class="row mb-30 align-items-center">
                <div class="col-lg-6">
                    <div class="sec-title">
                        <h2 class="mb-20 wow skewIn">Make Your Choice for the <br> <span>Preferred Nation</span>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="sec-title mb-20">
                        <p>Choosing the ideal destination for immigration is a pivotal decision that can shape the trajectory of your </p>
                    </div>
                </div>
            </div>
            <ul class="xb-country-nav nav nav-tabs ul_li_between mb-65" id="myTab" role="tablist">
                {% for category in categories %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if forloop.first %}active{% endif %} " id="xbc-tab{{ forloop.counter }}" data-bs-toggle="tab"
                            data-bs-target="#xbc-tab-pane{{ forloop.counter }}" type="button" role="tab" aria-controls="xbc-tab-pane{{ forloop.counter }}"
                            aria-selected="true">{{category.name}}
                    </button>
                </li>
                {% endfor %}
                
            </ul>
            <div class="tab-content" id="myTabContent">
                {% for category in categories %}
                <div class="tab-pane animated fadeInUp {% if forloop.first %}show active{% endif %}" id="xbc-tab-pane{{ forloop.counter }}" role="tabpanel"
                     aria-labelledby="xbc-tab{{ forloop.counter }}" tabindex="0">
                    <div class="xb-country ul_li">
                        {% for country in category.country.all %}
                        <div class="xb-item--item">
                            <a href="{{country.get_absolute_url}}" class="xb-item--inner ul_li">
                                <div class="xb-item--flag">
                                    <img src="{{country.image.url}}" alt="">
                                </div>
                                <h3 class="xb-item--title">{{country.name}}</h3>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>
    <!-- country end -->

        <!-- visa type start -->
        <section class="visa type pb-135">
            <div class="container">
                <div class="service-wrap pos-rel">
                    <div class="service-img-wrap">
                        <div class="service-bg" data-background="assets/img/bg/service_bg.png"></div>
                        <div class="service-img wow skewIn" data-wow-delay="100ms"
                             data-background="{% static "assets/img/service/img_01.jpg" %}"></div>
                    </div>
                    <div class="sec-title wow skewIn pt-120">
                        <h2 class="mb-60">Visa types and eligibility <br> <span>assessment</span></h2>
                    </div>
                    <div class="row justify-content-md-center mt-none-30">
                        {% for service in services|slice:":2" %}
                        <div class="col-lg-4 col-md-6 mt-30">
                            <div class="xb-service">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon color3 mb-50">
                                        <img src="{% static "assets/img/icon/sv_03.svg" %}" alt="">
                                    </div>
                                    <div class="xb-item--holder">
                                        <h3 class="xb-item--title mb-20"><a href="{{service.get_absolute_url}}">{{service.name}}</a>
                                        </h3>
                                        <div class="xb-item--description">
                                            Embarking on a journey of higher education in a foreign country opens doors
                                            to...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                        <div class="col-lg-4 mt-30"></div>
                        {% for service in services|slice:"2:" %}
                        <div class="col-lg-4 col-md-6 mt-30">
                            <div class="xb-service">
                                <div class="xb-item--inner">
                                    <div class="xb-item--icon color3 mb-50">
                                        <img src="{% static "assets/img/icon/sv_03.svg" %}" alt="">
                                    </div>
                                    <div class="xb-item--holder">
                                        <h3 class="xb-item--title mb-20"><a href="{{service.get_absolute_url}}">{{service.name}}</a>
                                        </h3>
                                        <div class="xb-item--description">
                                            Embarking on a journey of higher education in a foreign country opens doors
                                            to...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- visa type end -->


       
       

        <!-- counter start -->
        <section class="counter pt-120 pb-120 bg_img" data-background="{% static "assets/img/bg/counter_bg.jpg" %}">
            <div class="container">
                <div class="sec-title mb-45">
                    <h2 class="mb-40 wow skewIn">Discovering Our Biggest Successes: The Stories <br> <span> Behind Our Great Achievements</span>
                    </h2>
                    <p>Embarking on a journey to reunite families, we recently had the privilege of assisting a <br>
                        couple in securing their spouse's visa. </p>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="xb-counter ul_li">
                            <div class="xb-item--item ul_li">
                                <div class="xb-item--icon">
                                    <img src="{% static "assets/img/icon/c_01.svg" %}" alt="">
                                </div>
                                <div class="xb-item--holder">
                                    <h2 class="xb-item--number"><span class="xbo" data-count="20">00</span><span
                                            class="suffix">+</span></h2>
                                    <h5 class="xb-item--title">Visa Categories</h5>
                                </div>
                            </div>
                            <div class="xb-item--item style-2 ul_li">
                                <div class="xb-item--icon">
                                    <img src="{% static "assets/img/icon/c_02.svg" %}" alt="">
                                </div>
                                <div class="xb-item--holder">
                                    <h2 class="xb-item--number"><span class="xbo" data-count="30">00</span><span
                                            class="suffix">K+</span></h2>
                                    <h5 class="xb-item--title">Visa Process</h5>
                                </div>
                            </div>
                            <div class="xb-item--item style-3 ul_li">
                                <div class="xb-item--icon">
                                    <img src="{% static "assets/img/icon/c_03.svg" %}" alt="">
                                </div>
                                <div class="xb-item--holder">
                                    <h2 class="xb-item--number"><span class="xbo" data-count="40">00</span><span
                                            class="suffix">K+</span></h2>
                                    <h5 class="xb-item--title">Successful Project</h5>
                                </div>
                            </div>
                            <div class="xb-item--item style-4 ul_li">
                                <div class="xb-item--icon">
                                    <img src="{% static "assets/img/icon/c_04.svg" %}" alt="">
                                </div>
                                <div class="xb-item--holder">
                                    <h2 class="xb-item--number"><span class="xbo" data-count="180">00</span><span
                                            class="suffix">K+</span></h2>
                                    <h5 class="xb-item--title">Pro Consultants</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- counter end -->


       

        <!-- testimonial start -->
        {% if testimonials %}
        <section class="testimonial bg_img pt-130 pb-130" data-bg-color="#EDF3F5" data-background="{% static "assets/img/bg/tm_bg.png" %}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="sec-title margin-none-md mb-30-xs mb-125">
                            <h2 class="mb-70 wow skewIn">Happy Clients Reflect on Their <br>
                                <span> Journey with Us</span></h2>
                            <p>Embark on a Global Exploration: <br> Experience Joy in 190+ Countries <br> and Across the
                                World</p>
                        </div>
                        <div class="xb-testimonial__nav ul_li">
                            <div class="tm-nav-item tm-button-prev"></div>
                            <div class="tm-nav-item tm-button-next"></div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="xb-swiper-sliders">
                            <div class="xb-carousel-inner">
                                <div class="xb-testimonial-slider xb-swiper-container swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for testimonial in testimonials %}
                                        <div class="swiper-slide xb-swiper-slide">
                                            <div class="xb-testimonial">
                                                <div class="xb-item--inner text-center">
                                                    <div class="xb-item--img">
                                                        <img src="{% static "assets/img/icon/trustpilot.png" %}" alt="">
                                                    </div>
                                                    <div style="height:550px;" class="xb-item--content">
                                                        "{{testimonial.text}}"
                                                    </div>
                                                    <div class="xb-item--bottom">
                                                        <div class="xb-item--ratting">
                                                            <img src="{% static "assets/img/icon/tr_rattig.png" %}" alt="">
                                                        </div>
                                                        <h3 class="xb-item--title">{{testimonial.name}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <!-- testimonial end -->

        <!-- faq start -->
        <section class="faq pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="xb-faq-content">
                            <div class="sec-title mb-125">
                                <h2 class="mb-30 wow skewIn">Common questions <br> <span> answered</span></h2>
                                <p>At the heart of our commitment to providing <br> exceptional immigration solutions
                                    stands our trusted</p>
                            </div>
                            <div class="faq-img">
                                <img src="{% static "assets/img/faq/faq_img.png" %}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="xb-faq">
                            <ul class="accordion_box clearfix">
                                {% for faq in faqs %}
                                <li class="accordion block {% if forloop.first %}active-block{% endif %} ">
                                    <div class="acc-btn">
                                        {{faq.question}}
                                        <span class="arrow"></span>
                                    </div>
                                    <div class="acc_body {% if forloop.first %}current{% endif %} ">
                                        <div class="content">
                                            <p>{{faq.answer}}</p>
                                            {% comment %} <ul>
                                                <li><i class="far fa-check"></i>Comprehensive Visa Assistance</li>
                                                <li><i class="far fa-check"></i>Visa Category Expertise</li>
                                                <li><i class="far fa-check"></i>Transparency and Communication</li>
                                            </ul> {% endcomment %}
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                               

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- faq end -->

        <!-- blog start -->
        <section class="blog pb-130">
            <div class="container">
                <div class="blog-wrap">
                    <div class="sec-title mb-60 text-center">
                        <h2 class="mb-30 wow skewIn">Cast Your Eyes Upon Our <br> <span> Newest Article</span></h2>
                        <p>Explore the most recent addition to our informative articles</p>
                    </div>
                    <div class="row justify-content-md-center mt-none-30">
                        {% for blog in blogs|slice:":3" %}
                        <div style="width:400px;height:455px;" class="col-lg-4 col-md-6 mt-30">
                            <div  class="xb-blog">
                                <div class="xb-item--inner">
                                    <div class="xb-item--img">
                                        <img style="width:380px;height:220px;object-fit:cover;" src="{{blog.image.url}}" alt="">
                                    </div>
                                    <div style="height:250px;" class="xb-item--holder">
                                        {% comment %} <span class="xb-item--category">Consulting</span> {% endcomment %}
                                        <ul class="xb-item--meta ul_li mb-20">
                                            <li><img src="{% static "assets/img/icon/user.svg" %}" alt="">By admin</li>
                                            <li><img src="{% static "assets/img/icon/calendar.svg" %}" alt="">{{blog.date}}</li>
                                        </ul>
                                        <h3 class="xb-item--title border-effect"><a href="blog-single.html">{{blog.name|slice:":44"}}..</a></h3>
                                        <a class="xb-item--link" href="{{blog.get_absolute_url}}">Read the article<span><img
                                                src="{% static "assets/img/icon/right_arrow.svg" %}" alt=""></span></a>
                                    </div>
                                    <a class="xb-overlay xb-overlay-link" href="{{blog.get_absolute_url}}"></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    <div class="xb-blog-bg" data-bg-color="#EDF3F5" data-background="{% static "assets/img/bg/blog_bg.png" %}"></div>
                </div>
            </div>
        </section>
        <!-- blog end -->

        <!-- newsletter start -->
        <section style="padding-bottom:300px;" class="newsletter">
            <div class="container">
                <div class="xb-newsletter pos-rel">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="xb-item--inner">
                                <div class="xb-item--holder mb-30">
                                    <span>newsletter</span>
                                    <h3>Subscribe to the free newsletter to receive the latest <br> news & case studies!
                                    </h3>
                                </div>
                                <div id="message-container">
                                    <!-- Messages will be displayed here -->
                                </div>
                                <form id="contact-form" class="xb-item--form" method="post">
                                    {% csrf_token %}
                                    {{form.email|as_crispy_field}}
                                    <button type="submit" class="thm-btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="xb-newsletter__img">
                        <img src="{% static "assets/img/bg/newsletter_img.png" %}" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- newsletter end -->

        {% comment %} <!-- contact start -->
        <section class="contact contact-pt gray-bg">
            <div class="container">
                <div class="xb-contact pos-rel">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="xb-item--inner">
                                <div class="xb-item--holder mb-25">
                                    <span><img src="assets/img/icon/n_pad.svg" alt="">Contact Us</span>
                                    <h3>Do you have questions or went more <br> information?</h3>
                                </div>
                                <form class="xb-item--form contact-from" action="#!">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="xb-item--field">
                                                <span><img src="assets/img/icon/c_user.svg" alt=""></span>
                                                <input type="text" placeholder="Goladria Gomez">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="xb-item--field">
                                                <span><img src="assets/img/icon/c_mail.svg" alt=""></span>
                                                <input type="text" placeholder="e.visa@services.com">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="xb-item--field">
                                                <span><img src="assets/img/icon/c_select.svg" alt=""></span>
                                                <select name="select" id="nice-select">
                                                    <option value="1">Student Visa</option>
                                                    <option value="2">Tourist Visa</option>
                                                    <option value="3">Commercial Visa</option>
                                                    <option value="4">Residence Visa</option>
                                                    <option value="4">Working Visa</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="xb-item--field">
                                                <span><img src="assets/img/icon/c_call.svg" alt=""></span>
                                                <input type="text" placeholder="+888 -8867 3333">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="xb-item--field">
                                                <span><img src="assets/img/icon/c_message.svg" alt=""></span>
                                                <textarea name="message" id="message" cols="30" rows="10"
                                                          placeholder="Write Your Message..."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="thm-btn" type="submit">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14602.254272231177!2d90.3654215!3d23.7985508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1592852423971!5m2!1sen!2sbd"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact end --> {% endcomment %}

    </main>

    {% endblock body %}